body{
    margin: 0;
    padding: 0;
    background-image: url("../Imagenes/fondo.jpg");
    background-size: cover;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-box{
    width: 320px;
    height: 460px;
    background-color: rgba(107, 145, 250, 0.479);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    font-family: 'Courier New', Courier, monospace;
    color: rgb(2, 0, 129);
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 50px 30px;
    font-size: 18px;
}

#gif{
    width: 80px;
    height: auto;
    margin: 120px;
    position: absolute;
    margin-left: 65px;
}
#avatar{
    margin: 40px;
    position:absolute;
    width: 130px;
    height: 130px;
    
}

.login-box h1{
    margin: 0;
    padding: 0 0 20px;
    text-align:center;
    font-size: 30px;
    font-family: sans-serif;
}
.login-box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
    font-size: 20px;
}
.login-box input{
    width: 100%;
    margin-bottom: 10%;
    
}
/* ATRIBUTOS DE LOS CUADROS DE INGRESO */
.login-box input[type="text"],
.login-box input[type="password"]{
    border: none;
    border-bottom: 2px solid rgb(113, 145, 185);
    background: transparent;
    outline: none;
    height: 28px;
    color: rgb(10, 10, 10);
    font-size: 18px;
}
/*PARA SACAR LOS ATRIBUTOS VISIBLES DE LOS VINCULOS*/
.login-box a{
    text-decoration: none;
    color: rgb(10, 10, 10);
}
.login-box a:hover{
    background-color: rgb(142, 187, 98);
    color: black;
    border-radius: 5px;
}
/*BOTON DE INIGRESAR*/
.login-box input[type="submit"]{
    border: none;
    outline: none;
    height: 30;
    background: rgb(215, 227, 228);
    border-radius: 5px;
    font-size: 20px;
}