body{
    background:#d3edf8
}
.input-grounp{
    position: relative;
}
.input{
    padding: 12px;
    background: #d3edf8;
    border-radius: 2px;
    outline: none;
    color: #444444;
    border: 2px solid #0da2ff;
}
.placeholder{
    position: absolute;
    top: 20px;
    left: 15px;
    font-size: 14px;
    padding: 0px 5 px;
    color: #0da2ff;
    transition: 0.3s;
    pointer-events: none;
}
.input:focus+ .placeholder, .input:not(:placeholder-shown)
+.placeholder{
    top: -5px;
    background-color: #d3edf8;
}